.site-header {
	position: fixed;
	width: 1440px;
	top:0;
	z-index: 9999;

}
.main-navigation {
	z-index: 1000;
	background-color: $color__navigation_bg;
	display: block;
	width: 100%;
	button {
		border: 0;
		background-color: transparent;
		margin:auto;
	}
	.line {
		height: 3px;
		background-color: #000;
		display: block;
		margin: auto;
		margin-block: 2px;
		width: 20px;
	}
	ul {
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 20px;
		.site-title {
			display: none;
		}

	}

	li {
		position: relative;
		font-size: 64px;
		line-height: 2em;
		&:hover > a,
		&.focus > a {
			color: #000;
			text-shadow: 0 0 15px rgb(255, 92, 0);
		}
		.animated {
			animation: fadeInUpTitle 1500ms forwards 500ms;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	/*.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {

	}*/
	.site-title {
		font-family: $font__titles;
		font-size: 21.5px;
		position: absolute;
		text-align: center;
		width: inherit;
		padding: 20px;

	}
	.menu-burger{
		position: relative;
		text-align: end;
		/*padding: 15px 150px;*/

		.nav-menu{
			background-color: #fff5e9 ;
			height: 100vh;
			width: 100%;
			position: absolute;
			z-index: -1;
			text-align: center;	
			padding-top: 20px;
			overflow: hidden;
			animation: fadeInMenu 1000ms ease forwards;

			.site-logo{
				&::before{
					content: url(../assets/images/orchid.png);
					position: absolute;
					left: -0.9em;
					top: 0.9em;
					animation: rotateFlowers 10000ms linear infinite;
				}
				&::after{
					content: url(../assets/images/Sunflower.png);
					position: absolute;
					transform: scale(1.3);
					right: 3.5em;
					top: 1.5em;
					animation: rotateFlowers 10000ms linear infinite;
				}
			}

			.purple-cat{
				&::before{
					content: url(../assets/images/purple-cat.png);
					position: absolute;
					left: 4em;
					bottom: 0em;
					animation:floatcat 3000ms ease-in-out infinite alternate 500ms;
				}
			}
			.random-flower{
				&::after{
					content: url(../assets/images/random_flower.png);
					position: absolute;
					right: -1.5em;
					top: 0em;
					transform: scale(0.3);
					animation: rotateFlowers 10000ms linear infinite;
				}
			}
			.black-cat{
				&::before{
					content: url(../assets/images/flower.png);
					position: absolute;
					left: 3em;
					bottom: 0em;
					transform: scale(0.6);
					animation: rotateFlowers 10000ms linear infinite;
				}
				&::after{
					content: url(../assets/images/black-cat.png);
					position: absolute;
					right: 3em;
					top: 0em;
					animation:floatcat 3000ms ease-in-out infinite alternate-reverse 1000ms;
				}
			}
			.orange-cat{
				&::before{
					content: url(../assets/images/orange-cat.png);
					position: absolute;
					left: 1em;
					top: 2em;
					animation:floatcat 3000ms ease-in-out infinite alternate 1500ms;
				}
			}
			
			#small-title{
				font-size: 14px;
				top: 7em;
				text-transform: uppercase;
				&::after{
					content: url(../assets/images/hibiscus_footer.png);
					position: absolute;
					right: -25em;
					bottom: -33em;
				}
			}

			
		}
	}
}

@keyframes fadeInMenu {
	from {
	  opacity: 0;
	  transform: translateY(-100%);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  /***Animation floatcat***/
  @keyframes floatcat {
	0%, 100% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(20px); 
	}
  }
  
   /***Animation flowers***/
   @keyframes rotateFlowers {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

  /***Animation Studio title scroll***/
@keyframes fadeInUpTitle {
	from {
	  transform: translateY(50px);  
	  opacity: 0;
	}
	to {
	  transform: translateY(0);
	  opacity: 1;
	}
  }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: #{$breakpoint__large_phone}) {

	.menu-toggle {
		display: block;
	}
	.main-navigation {
		height: 80px;
		ul {
			display: none;
			margin: 0;
			padding-left: 0;
			.site-title {
				display: block;
			}
		}
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/*Icon Menu Berger*/
/*
#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 15px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 150px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
*/


#nav-icon {
	width: 60px;
	height: 50px;
	position: relative;
	margin: 15px auto;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	right: 150px;
	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #010101;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
			transform-origin: left center;
		}
		&:nth-child(2) {
			top: 18px;
			transform-origin: left center;
		}
		&:nth-child(3) {
			top: 36px;
			transform-origin: left center;
		}
	}
}
#nav-icon.open {
	span {
		&:nth-child(1) {
			transform: rotate(45deg);
			top: -3px;
			left: 8px;
		}
		&:nth-child(2) {
			width: 0%;
			opacity: 0;
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
			top: 39px;
			left: 8px;
		}
	}
}
