.banner {
  background-image: url("../assets/images/banner.png");
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transform: translateY(-50px); 
  animation: fadeIn 1000ms ease forwards;
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    img {
      margin-top: 0;
      width: 50%;
      opacity: 0;
      transform: translateY(80px);
      animation: fadeInLogo 1000ms ease forwards, floatLogo 3000ms ease-in-out infinite alternate 1000ms;
    }
  }
}

/***Animation FadeIn section banner***/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/***Animation FadeIn sections & Logo***/
@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/***Animation floatlogo***/
@keyframes floatLogo {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); 
  }
}

 /***Animation flowers***/
 @keyframes rotateFlowers {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/***Fin***/

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(50px);
  animation: fadeInLogo 1000ms ease forwards;
  h2{
    &::before {
      content: url('../assets/images/sunflower_leaves.png');
      position: absolute;
      left: 0;
      top: 1.8em;
      z-index: -1;
    }
    &::after {
      content: url('../assets/images/Sunflower.png');
      position: absolute;
      left: 0.7em;
      top: 6em;
      animation: rotateFlowers 10000ms linear infinite;
    }
    span{
      display: block;
      opacity: 0;
      transform: translateY(50px);
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding-bottom: 2em;
    background-color: $color__background-body;
    &::before {
      content: url('../assets/images/hibiscus_leaves.png');
      position: absolute;
      left: 50%;
      top: 8em;
      z-index: -1;
    }
    &::after {
      content: url('../assets/images/Hibiscus.png');
      position: absolute;
      left: calc(50% + 414px);
      top: 2em;
      animation: rotateFlowers 10000ms linear infinite;
    }
  }

  #characters {
    margin: 6em;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 2em;
    overflow: hidden;
    h3 {
      background-image: url("../assets/images/orange_characters_bg.png");
    }
    div {
      flex: 1
    }
    .swiper-container{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .swiper-wrapper {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      align-items: center;
    }
  }
}

#place {
  display: flex;
  background-image: url("../assets/images/place_bg.png");
  width: 100%;
  min-height: 699px;
  background-size: cover;
  flex-direction: row-reverse;
  h3 {
    background-image: url("../assets/images/orange_place_bg.png");
    margin-bottom: -1em;
  }
  .placecontent {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6em;
    p {
      padding-left: 5em;
    }
  }
  #nuages{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 250px;
    margin: 50px 150px 0 0;
    .cloud{
      height: auto;
      filter: blur(10px);
    }
    .big{
      margin: 0 0 100px 100px;
    }
  }

}

#studio {
  position: relative;
  margin-top: 3em;
  overflow: hidden;
  transform: translateY(50px);
  animation: fadeInLogo 1000ms ease forwards;
 h2 {
    overflow: hidden;
    background-image: url("../assets/images/purple_studio_bg.png");
    display: flex;
    justify-content: center;
    gap: 20px;
    &::before {
      content: url('../assets/images/random_flower.png');
      position: absolute;
      left: -1em;
      top: 0;
    }
    &::after {
      content: url('../assets/images/flower.png');
      position: absolute;
      right: 1em;
      top: 1.2em;
    }
    span{
      display: block;
      opacity: 0;
      transform: translateY(50px);
    }
  }
  > div {
    display: flex;
    justify-content: space-between;
    width: 66.66%;
    margin: auto;
    &::before {
      content: url('../assets/images/trple-leaf.png');
      position: absolute;
      left: calc(50% - 17.225px);
      top: 40%;
    }
    p{
      width: 44.5%;
    }
  }
}

/***Animation Studio title scroll***/
@keyframes fadeInUpTitle {
  from {
    transform: translateY(50px);  
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation: fadeInUpTitle 1500ms forwards;
}

/***Section nomination aux Oscars***/
#nomination{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  padding-top: 10vh;
  transform: translateY(50px);
  animation: fadeInLogo 1000ms ease forwards;
  p{
    color: $color__background-body;
    font-family: $font__titles;
    font-weight: bold;
    font-size: 35px;
    width: 85%;
    padding-left: 2em;
    padding-top: 0.7em;
  }
  .nomination__oscars{
    background-image: url(../assets/images/orange-bg-nomination.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 30vh;
  }
  img{
    height: fit-content;
    padding-top: 2em;
  }
}


@media all and (max-width: #{$breakpoint__laptop}) {
  .story {
    &__article {
      &::before {
        left: 40%;
        top: 8em;
      }
      &::after {
        left: calc(40% + 414px);
        top: 2em;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__tablet}) {
  .story {
    &__article {
      &::before {
        left: 33%;
        top: 15em;
      }

      &::after {
        content: url('../assets/images/Hibiscus.png');
        position: absolute;
        left: calc(33% + 414px);
        top: 9em;
      }
    }
    #characters {
      flex-direction: column;
    }
  }
}

@media all and (max-width: #{$breakpoint__small_tablet}) {
  .story {
    h2{
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    &__article {
      width: 80%;
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    #characters {
      flex-direction: column;
    }
    #place {
      > div {
        margin: auto;
        width: 75%;
      }
    }
  }
  #studio {
    h2 {
      &::after {
        content: '';
      }
    }
    > div {
      &::before {
        content: '';
      }
      flex-direction: column;
      p {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__large_phone}) {
  html{
    overflow-x: hidden;
  }
  
  #studio {
    h2 {
      &::before{
        content: '';
      }
    }
  }

  .banner{
    min-height: 30vh;
    .video-background{
      display: none;
    }
  }
  .story{
    padding-top: 30px;
    #characters{
      margin: 0em;
      padding-left: 0em;
      h3{
        background-size: cover;
        width: max-content;
        margin: 0 auto;
        padding: 1em;
      }
      .swiper-container{
        .swiper-wrapper{
          .swiper-slide{
            figure{
              img{
                width: 90%;
              }
            }
          }
        }
      }
    }
    &__article {
      text-align: left;
    }
    #place {
      flex-direction: column;
      margin: 50px auto;
      > div {
        margin: 0 auto;
        width: 75%;
        h3{
          margin: 0 auto;
        }
        p{
          padding-left: 0;
          padding-bottom: 2em;
        }
      }
      #nuages{
        margin-top: 20px;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        position: relative;
        left: 5em;
        .small{
          width: 50%;
        }
        .big{
          margin: 0 0 50px 50px;
        }
      }
    }
  }
  #studio{
    margin-top: 0;
  }
  #nomination{
    justify-content: center;
    padding-top: 5vh;
    width: 90%;
    p{
      font-size: 1.2rem;
      padding-top: 0.5em;
      width: 100%;

    }
    .nomination__oscars{
      width: 100%;
      height: 15vh;
    }
  }
  
}
